---
layout: default
title: Home
---

{% assign essays = "" | split: ',' %} {% assign projects = "" | split: ',' %} {%
assign codes = "" | split: ',' %} {% for post in site.posts %} {% if
post.category == "essay" %} {% assign essays = essays | push: post %} {% elsif
post.category == "project" %} {% assign projects = projects | push: post %} {%
endif %} {% endfor %}

<section class="post-list">
  <div class="container">
    <a href="/essays"><h1 class="page-title">Essays</h1></a>
    {% for post in essays limit:10 %} {% if post.category == "essay" %}
    <article class="post-item">
      <span class="post-meta date-label"
        >{{ post.date | date: "%d/%m/%y" }}</span
      >
      <h5 class="article-title">
        <a
          class="post-link"
          href="{{ post.url | prepend: site.baseurl | prepend: site.url }}"
          >{{ post.title }}</a
        >
      </h5>
    </article>
    {% endif %} {% endfor %}
    <a href="/essays" class="see-more"
      ><p>see {{ essays.size | minus:10 }} more essays...</p></a
    >
  </div>
</section>
<section class="post-list">
  <div class="container">
    <a href="/projects"><h1 class="page-title">Projects</h1></a>
    {% for post in projects limit:10 %} {% if post.category == "project" %}
    <article class="post-item">
      <h5 class="article-title">
        <a class="post-link" target="_blank" href="{{ post.link }}"
          >{{ post.title }}
        </a>
      </h5>
      <span class="post-meta">{{ post.description }}</span>
    </article>
    {% endif %} {% endfor %}
    <a href="/projects" class="see-more"
      ><p>see {{ projects.size | minus:10 }} more projects...</p></a
    >
  </div>
</section>
