
@import "bourbon/bourbon";

@import "variables";
@import "base/base";

@import "layout";
@import "syntax-highlighting";


.icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  fill: currentColor;
  vertical-align: middle;
}

.footer-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
}